
.dp-btn--primary {
	background-color: #ffab91;
	box-shadow: 2px 2px #888;
}

.dp-btn--secondary {
	background-color: #ffddc1;
	box-shadow: 2px 2px #888;
}

.btn[disabled] {
	box-shadow: none;
}

.dp-body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;

	min-height: 100vh;
}

.dp-container {
	display: flex;
	flex: auto;
	flex-direction: column;
}

@media (max-width: 767px) {
	.dp-container {
		margin-top: 3em;
	}
}

.dp-content {
	display: flex;
	flex: auto;
	margin: 0 auto;
	width: 100%;
}

.dp-header {
	align-items: center;
	background-color: #ffddc1;
	display: flex;
	flex: none;
	height: 6em;
	justify-content: center;
	border-bottom: 1px solid darkgray;
}

.dp-header .dp-header__title {
	margin: 0;
	font-size: 2.5rem;
}

.dp-flex {
	display: flex;
}

@media (max-width: 767px) {
	.dp-flex-sm-col {
		flex-direction: column;
	}
}

.dp-flex-i {
	flex: 1;
}

.dp-flex-col {
	flex-direction: column;
}

.dp-flex-row {
	flex-direction: row;
}

@media (max-width: 767px) {
	.dp-flex-sm-col {
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.dp-header {
		height: 3em;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	.dp-header .dp-header__title {
		margin: 0;
		font-size: 1.5rem;
	}
}

@media (max-width: 767px) {
	.dp-lg-only {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.dp-sm-only {
		display: none !important;
	}
}

.dp-spinner-grow {
	width: 1.5rem; 
	height: 1.5rem;
	background-color: #ffddc1;
}