.dp-details {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@media (max-width: 767px) {
    .dp-details {
        flex-direction: column;
    }
}

.dp-details .dp-details__sidebar {
    border-right: 1px solid darkgray;
    flex: 0.2;
}

@media (max-width: 767px) {
    .dp-details .dp-details__sidebar {
        border: none;
    }
}

.dp-details .dp-details__content {
    flex: 0.8;
}


.dp-details .dp-details__dish {
    flex: 1;
    flex-direction: row;
}

.dp-details .dp-details__dishName {
    text-transform: uppercase;
    padding: 30px 30px 0;
}

@media (max-width: 768px) {
    .dp-details .dp-details__dishName {
        text-transform: uppercase;
        padding: 10px;
    }
}

.dp-details .dp-details__dishName>h3 {
    margin: 0;
}

.dp-details .dp-details__dishImage {
    display: flex;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.dp-details .dp-details__dishImage>img {
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    /* max-height: 200px; */
    object-fit: cover;
}

@media (max-width: 767px) {
    .dp-details .dp-details__dishImage {
        padding: 0;
    }

    .dp-details .dp-details__dishImage>img {
        border: none;
        width: 100%;
        height: 300px;
    }
}

.dp-details .dp-details__description {
    font-weight: 300;
    padding: 20px 30px;
}

.dp-details .dp-details__backBtn {
    padding-left: 30px;
}

.dp-details .dp-details__backBtn>a>button {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

@media (max-width: 767px) {
    .dp-details .dp-details__backBtn {
        padding-bottom: 20px;
    }
}

.dp-details .dp-details__preparation {
    flex-direction: row;
    flex: 1;
    padding: 10px;
    padding-left: 30px;

}

.dp-details .dp-details__ingredientsTitle {
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 20px;
    /* margin-top: 20px; */
}

.dp-details .dp-details__ingredientsContent {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.dp-details .dp-details__ingredientsLine {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dp-details .dp-details__ingredientsQnty {
    display: flex;
    flex: 0.2;
    font-weight: 300;
    font-size: 12px;

}

.dp-details .dp-details__ingredientsName {
    display: flex;
    flex: 0.4;
    font-weight: 300;
    font-size: 12px;
    text-transform: lowercase;


}

.dp-details .dp-details__ingredientsCurr {
    display: flex;
    flex: 0.2;
    font-weight: 300;
    font-size: 12px;
}

.dp-details .dp-details__ingredientsPrice {
    display: flex;
    flex: 0.2;
    font-weight: 300;
    font-size: 12px;
}

.dp-details .dp-details__ingredientsTotalCurr {
    display: flex;
    flex: 0.2;
    font-weight: 300;
    font-size: 12px;
}

.dp-details .dp-details__ingredientsTotal {
    display: flex;
    flex: 0.2;
    font-weight: 300;
    font-size: 12px;
}

.dp-details .dp-details__tableFooter {
    display: flex;
    justify-content: space-around;
    margin: 0 10px 10px 10px;
    padding-left: 10px;
}

.dp-details .dp-details__addToMenu {
    display: flex;
    flex: 0.6;
}

.dp-details .dp-details__card {
    background-color: #ffffe5;
    border: 1px solid #eee;
    box-shadow: 4px 4px #888;
    margin: 20px;
}

@media (max-width: 767px) {
    .dp-details .dp-details__card {
        margin: 0;
    }
}

.dp-details .dp-details__type {
    text-transform: capitalize;
}

