.dp-overview {
	display: flex;
	flex: 1;
	flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.dp-overview .dp-overview__top-bar {
	align-items: center;
	border-bottom: 1px solid darkgray;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.dp-overview .dp-overview__back-btn {
	border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.dp-overview .dp-overview__content {
	border-bottom: 1px solid darkgray;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

@media (max-width: 767px) {
	.dp-overview .dp-overview__content {
		border-bottom: none;
		flex-direction: column;
		padding-bottom: 0;
	}
}

.dp-overview .dp-overview__guests {
	font-weight: 300;
	margin: 0;
}

@media (max-width: 767px) {
	.dp-overview .dp-overview__guests {
		font-size: 18px;
	}
}

.dp-overview .dp-overview__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

@media (max-width: 767px) {
	.dp-overview .dp-overview__items {
		padding: 0;
	}
}

.dp-overview .dp-overview__dish-price {
	color: darkred;
	margin: 0 20px;
	text-align: right;
}

.dp-overview .dp-overview__total {
	align-items: flex-end;
	border-left: 1px solid darkgray;
	display: flex;
	flex-direction: column-reverse;
	margin: 40px 0 20px;
	padding: 0 20px;
}

.dp-overview .dp-overview__total-number {
	color: darkred;
}

.dp-overview .dp-overview__total-title {
	padding-bottom: 10px;
	width: 100%;
}

.dp-overview .dp-overview__print {
	display: flex;
	justify-content: center;
	padding: 40px 20px;
	width: 100%;
}

@media (max-width: 767px) {
	.dp-overview .dp-overview__total {
		border-left: 0;
		flex-direction: row-reverse;
		justify-content: center;
		margin: 20px;
		padding: 0;
	}

	.dp-overview .dp-overview__total-title {
		padding: 0 5px 0;
		width: auto;
	}
}

@media (max-width: 767px) {
	.dp-overview .dp-overview__print-btn {
		width: 100%;
	}
}

