.dp-sidebar {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

@media (max-width: 767px) {
	.dp-sidebar {
		border-bottom: 1px solid darkgray;
		height: 3em;
		padding: 0;
	}
}



@media (max-width: 767px) {
	.dp-sidebar .dp-sidebar__collapsible {
		position: absolute;
		box-shadow: 0 2px #888;
		background-color: white;
		width: 100%;
		margin-top: 3em;
		width: 100%;
		background-color: white;
	}

	.dp-sidebar
	.dp-sidebar__collapsible.dp-sidebar__collapsible_closed {
		display: none;
	}
}

.dp-sidebar .dp-sidebar__header {
	align-items: center;
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.dp-sidebar .dp-sidebar__title {
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
	margin-left: 10px;
}

@media (max-width: 767px) {
	.dp-sidebar .dp-sidebar__title {
		margin: 10px;
	}
}

.dp-sidebar .dp-sidebar__people {
	align-items: center;
	display: flex;
	margin: 10px;
}

.dp-sidebar .dp-sidebar__people-title {
	font-size: 14px;
	line-height: normal;
	margin-right: 10px;
}

.dp-sidebar .dp-sidebar__sub-header {
	align-items: center;
	background-color: lightgray;
	border-bottom: 1px solid darkgray;
	border-left: 1px solid darkgray;
	border-top: 1px solid darkgray;
	display: flex;
	justify-content: space-between;
	padding: 0 10px
}

.dp-sidebar .dp-sidebar__sub-header > p {
	margin: 5px 0;
}

.dp-sidebar .dp-sidebar__total {
	color: darkred;
	padding: 15px;
	text-align: right;
}

.dp-sidebar .dp-sidebar__confirm {
	padding: 0 10px;
	width: 100%;
}

@media (max-width: 767px) {
	.dp-sidebar .dp-sidebar__confirm {
		padding: 0 10px 10px;
	}
}

.dp-sidebar .dp-sidebar__dish {
	background-color: whitesmoke;
	border: 1px solid darkgray;
	border-radius: 2px;
	color: darkred;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	padding: 3px 5px;
}

.dp-sidebar .dp-sidebar__dish-name {
	flex: 1;
}

.dp-sidebar__dish-price {
	flex: 1;
	margin-left: 5px;
	text-align: right;
}